---
layout: default
---

{% include "place-json-ld" %}

<h1>{{ name | escape }}</h1>

<div class="content">
    {% include "place-meta.html" %}
    {{ content }}

    <p>
        <small>
            <strong>Last Updated:</strong> {{ last_modified_at | date: "%-d %B %Y" }}
        </small>
    </p>


    <div class="place-images">
    {% assign place_images = collections.place_images | reverse %}
    {% for image in place_images %}
        {% capture absolute_url %}/{{image}}{% endcapture %}
        {% assign folder_size = absolute_url.size | minus: 6 %}
        {% capture absolute_folder %}{{ absolute_url | slice: 0, folder_size }}{% endcapture %}
        {% capture filename %}{{ absolute_url | slice: 1, 999 }}{% endcapture %}
        {% if absolute_folder == page.url %}
            <a href="{{ absolute_url }}">
                {% image filename, name, "150px" %}
            </a>
        {% endif %}
    {% endfor %}
    </div>

    <p>
        <small class="place-tags">
            Tags:
            {% capture sorted_tags %}{{ tags | sort | join: ", " }}{% endcapture %}
            {{ sorted_tags | remove: ", places" | remove: "places, " | remove: "places" }}
        </small>
    </p>
</div>
